EasyMediaProcDemo/Media/TearsOfSteel[[:space:]]720p[[:space:]]h265.mkv filter=lfs diff=lfs merge=lfs -text
ThirdFrameWorks/EasyMediaProc.framework/EasyMediaProc filter=lfs diff=lfs merge=lfs -text
TearsOfSteel[[:space:]]720p[[:space:]]h265.mkv filter=lfs diff=lfs merge=lfs -text
EasyMediaProc filter=lfs diff=lfs merge=lfs -text
